.designer-furniture{
    width: 390px;
    height: 500px;
    clip-path: inset(0 50px 0 0);
}

.card-container {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    gap: 10px;
    width: 390px;
    height: 500px;
    margin:0px;
    padding:15px;
    /* overflow-x:hidden */
    
}

.card {
    display: block;
    list-style-type: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font: weight 500px;
    line-height: 0px;
    border: 1px solid rgba(183, 183, 183, 0.753);
    border-radius: 5px;
    width: 182px;
    height: 238px;
    margin: 0px;
    padding: 0px
    
}

li img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: inherit;
  border-radius: 8px;
      transition:0.6 ease all;
    transition-duration: 300ms;
}

li p{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

li img:hover{
    transform: scale(1.1);
}