.footer-desk1 {
    margin-left: -20px;
    margin-right: -20px;
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.container-1 {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    color: #ffffff;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 18px;
    /* width:1800px;
    height:50px; */
    padding-bottom: 30px;
}

.container-1 ul {
    list-style-type: none;
    font-weight: bold;
}

.footer-desk2 {
    margin-left: -20px;
    margin-right: -20px;
    position: relative;
    top: -12px;
    background-color: black;
    height: 100px;
    border-top: 1px solid #878787;
}

.usefull-links {
    position: relative;
    top: 25px;
    color: white;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
}