.top-deal{
    position: relative;
    background-color: white;
    width:100%;
    overflow-x:scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
.top-deal h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

.card-container{
    position: relative;
    background-color: white;
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
    gap:15px;
    margin-right:0px;
    width:120%;
    height:230px;
}

.card{
    display:block;
    list-style-type: none;
    /* width:150%;
    height:100%; */
    width:228px;
    height:228px;
    font-size:14px;
    font-family: Arial, Helvetica, sans-serif;
    font:weight 500px;
    line-height: 20px;
    margin:0px;
    /* object-fit: cover; */
}

li img{
    transition:0.6 ease all;
    transition-duration: 300ms;
}

li img:hover{
    transform: scale(1.1);
}