.top-deal{
    position: relative;
    background-color: white;
    width:45%;
    overflow-x:scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.top-deal h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

.card-container{
    position: relative;
    background-color: white;
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
    gap:50px;
    margin-right:0px;
    width:190%;
    height:240px;
}

.card{
    display:block;
    list-style-type: none;
    width:208px;
    height:240px;
    font-size:14px;
    font-family: Arial, Helvetica, sans-serif;
    font:weight 500px;
    line-height: 20px;
    position: relative;
    top:20px;
    /* object-fit: cover; */
}

li img{
    transition:0.6 ease all;
    transition-duration: 300ms;
}

li img:hover{
    transform: scale(1.1);
}